nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  .logo {
    object-fit: contain;
  }
  ul {
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-family: $font-roboto;
    font-size: 17px;
    letter-spacing: 2.5px;
    height: 100px;
    align-items: center;
    li {
      a {
        color: #000000;
        &:hover {
          color: #2c541d;
        }
      }
    }

    .icons {
        margin-left: 20px;
      display: flex;
      height: 100px;
      align-items: center;
      .shopping-bag {
        width: 50px;
        i {
          font-size: 26px;
          line-height: 26px;
        }
        sup {
          color: #ffffff;
          background-color: #000000;
          padding: 4px 4px;
          font-size: 8px;
          border-radius: 50%;
        }
      }
      .user {
        padding-top: 6px;
        font-size: 26px;
        line-height: 29px;
      }
    }
  }
  .menubar{
    display: none;
  }
}
@media only screen and (max-width:768px) and  (min-width:425px){
  nav {
    .logo {
      object-fit: contain;
      margin-left: 30px;
    }
    ul {
     display: none;
    }
    .menubar{
      display: block;
      display: flex;
      margin-right: 30px;
      .shopping-bag {
        width: 50px;
        margin: 20px 0;
        i {
          font-size: 30px;
          line-height: 30px;
        }
        sup {
          color: #ffffff;
          background-color: #000000;
          padding: 4px 4px;
          font-size: 8px;
          border-radius: 50%;
        }
      }
      .menu{
        margin: 20px 0px;
        width: 40px;
        height: 40px;
        background-color: #000000;
        i{
          color: white;
          padding: 12px;
        }
      }
    }
  }
}
@media only screen and (max-width:425px) and  (min-width:320px){
  nav {
    .logo {
      object-fit: contain;
      margin-left: 30px;
      width: 150px;
    }
    ul {
     display: none;
    }
    .menubar{
      display: block;
      display: flex;
      margin-right: 30px;
      .shopping-bag {
        width: 50px;
        margin: 20px 0;
        i {
          font-size: 24px;
          line-height: 24px;
        }
        sup {
          color: #ffffff;
          background-color: #000000;
          padding: 4px 4px;
          font-size: 8px;
          border-radius: 50%;
        }
      }
      .menu{
        margin: 20px 0px;
        width: 30px;
        height: 30px;
        background-color: #000000;
        i{
          color: white;
          padding: 9px;
          font-size: 12px;
        }
      }
    }
  }
}