.postcards {
    padding: 80px 0 0px;
    min-height: 115vh;
    .cards-content {
        max-width: 800px;
        min-height: 555px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 20px;
        row-gap: 20px;
        .card {
            max-width: 255px;
            min-height: 355px;

            .card-img {
                img {
                    max-width: 255px;
                    min-height: 250px;
                }
            }

            .card-text {
                padding: 15px 0;

                p {
                    font-size: 14.5px;
                    font-family: $font-roboto;
                    color: #585858;
                    font-weight: 300;
                    line-height: 18px;
                }

                .title {
                    font-size: 17px;
                    color: black;
                    font-family: $font-jost;
                    font-weight: 500;
                    line-height: 22px;
                    margin: 10px 0;
                }

                .price {
                    font-size: 15.3px;
                    font-family: $font-roboto;
                    font-weight: 600;
                    color: #585858;
                    line-height: 20px;
                }
            }
        }
    }
}